.headerContainer {
    background: #a92383;
    height: 60px;
    display: flex;
    align-items: center;
    .header {
        display: flex;
        align-items: center;
        img {
            width: 45px;
            height: 45px;
        }
        span {
            color: #fff;
            font-size: 20px;
            margin-left: 1%;
            font-family: sans-serif;
            font-weight: bold;
        }
    }
}
.footerContainer {
    display: flex;
    height: 60px;
    background: #333;
    align-items: center;
    .footer {
        color: #fff;
        font-family: sans-serif;
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }
}
